  /**
   * Add a change listener
   *
   * @param {function} fn
   * @param {{}} context
   */
  addChangeListener: function {GraphName}$addChangeListener(fn, context) {
    this.__private.graph.addChangeListener(fn, context);
  }