  /**
   * Add an edge to another object
   *
   * @return {{GraphName}Prototype}
   */
  addEdgeTo: function(topic, imo) {
    this.__private.graph.addEdgeTo(topic, imo.__private.graph);
    return this;
  }