  /**
   * Executes after the current actions, like insert and
   * changeValueTo, have completed
   *
   * @param {function} fn
   * @param {boolean} once
   * @this {{GraphName}Prototype}
   */
  afterChange: function {GraphName}$afterChange(fn, once) {
    this.__private.graph.afterChange(fn, once);
    return this;
  }