  /**
   * Change one or more properties at once
   *
   * @param {{}} newProperties
   */
  changePropertiesTo: function(newProperties) {
    this.__private.graph.changePropertiesTo(newProperties);
    return this;
  }