  /**
   * Change value
   *
   * @param {{GraphChangeValueDoc}} val
   * @this {{GraphName}Prototype}
   * @return {{GraphName}Prototype}
   */
  changeValueTo: function {GraphName}$changeValueTo(val) {
    this.__private.graph.changeValueTo(val);
    return this;
  }