/**
   * Change reference
   *
   * @param {{GraphChangeValueDoc}} obj
   * @this {{GraphName}Prototype}
   */
  changeReferenceTo: function {GraphName}$changeReferenceTo(obj) {
    this.__private.graph.changeReferenceTo(obj);
  }