  /**
   * Change one or more child properties at once
   *
   * @param {{}} newProperties
   * @return {{GraphName}Prototype}
   */
  changeChildrenPropertiesTo: function {GraphName}$changeChildrenPropertiesTo(newProperties) {
    this.__private.graph.changePropertiesTo(newProperties);
    return this;
  }