  /**
   * Order the graph with the given instructions
   *
   * @param {{}} sortingInstructions
   */
  orderBy: function {GraphName}$orderBy(sortingInstructions) {
    this.__private.graph.orderBy(sortingInstructions);
    return this;
  }