  /**
   * Get the actual immutable object
   *
   * @return {{GraphReadDoc}}
   * @this {{GraphName}Prototype}
   */
  read: function {GraphName}$read() {
    if (!this.__private.graph.__private.refToObj) {
      return null;
    }
    return this.__private.graph.__private.refToObj.ref;
  }