  /**
   * Remove this part of the graph
   *
   * @this {{GraphName}Prototype}
   * @return {{GraphName}Prototype}
   */
  remove: function {GraphName}$remove() {
    this.__private.graph.remove();
    var self = this;
    return {
      saveVersionAs: function() {
        var args = arguments;
        self.saveVersionAs.apply(self, args);
      },
      afterChange: function() {
        var args = arguments;
        self.afterChange.apply(self, args);
      }
    };
  }