  /**
   * Remove multi items at once
   *
   * @param {[{GraphInsertDoc}]} items
   * @this {{GraphName}Prototype}
   * @return {{GraphName}Prototype}
   */
  removeMulti: function(items) {
    var realItems = [];
    for (var i = 0, l = items.length; i < l; i++) {
      realItems[i] = items[i].__private.graph.__private.refToObj.ref;
    }
    this.__private.graph.removeMulti(realItems);
    return this;
  }