  /**
   * Restore a version
   *
   * @param {{name:string, ref:object}} version version to restore
   * @this {{GraphName}Prototype}
   */
  restoreVersion: function {GraphName}$restoreVersion(version) {
    this.__private.graph.restoreVersion(version);
    return this;
  }