  /**
   * Save a version (versioning must be enabled)
   *
   * @param {string} name name of the version
   * @this {{GraphName}Prototype}
   */
  saveVersion: function {GraphName}$saveVersion(name) {
    this.__private.graph.saveVersion(name);
    return this;
  }